<div class="container" data-controller="themes-selection">
  <div class="text-center">
    <div>
      <h1 class="justify-center text-white">Choose 5 themes</h1>
      <h1 class="justify-center text-white">you enjoy talking about</h2>
    </div>
      <%= text_field_tag :query,
        "",
        class: "form-control rounded-4",
        placeholder: "Browse themes",
        data: { action: "keyup->themes-selection#filter"} %>

      <%= simple_form_for current_user, html: { data: { controller: 'themes' }} do |f| %>
        <%= f.association :themes,
          as: :check_boxes,
          include_blank: false,
          include_hidden: false,
          input_html: {
            class: "theme-selector",
            data: {
              themes_target: 'checkbox',
              action: 'change->themes#shoot'
            }
          },
          item_wrapper_class: "theme-item" %>
        <div class="text-center">
          <%= f.button :submit, " Update", class: "btn-lg btn-primary rounded-5 button"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
