<!-- Scrollable modal -->
<div class="modal fade " id="modal<%= topic.id %>" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content modal-style">
      <div class="modal-header">
        <h5 class="modal-title"><%= topic.name %></h5>
      </div>
      <div class="modal-body">
        <p><%= topic.description %></p>
        <p>Expertise:<% topic.expertise.times do %>
          <i class="fa-solid fa-star modal-color"></i>
        <% end %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark" style="color: #FFBB5C;"></i></button>
      </div>
    </div>
  </div>
</div>
