<div class="footer">
  <ul>
  <li><a href="#"><i class="fa-regular fa-hand"></i></a>
  </li>
  <li><a href="#"><i class="fa-regular fa-comments"></i></a>
  </li>
  <li><a href="#"><i class="fa-solid fa-plus"></i></a>
  </li>
  <li><a href="#"><i class="fa-regular fa-bell"></i></a>
  </li>
  <li><a href="#"><i class="fa-solid fa-rotate-left"></i></a>
  </li>
  </ul>
</div>
