<div class="footer">
  <% if user_signed_in? %>
    <ul>
      <li>
        <%= link_to user_path(current_user), class: "navbar-brand" do %>
          <i class="fa-regular fa-user"></i>
        <% end %>
      </li>

      <li>
        <%= link_to new_topic_path, class: "navbar-brand" do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      </li>
      <li>
        <%= link_to topics_path, class: "navbar-brand" do %>
         <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </li>
       <li>
        <%= link_to chatrooms_path, class: "navbar-brand" do %>
          <i class="fa-regular fa-comments"></i>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>


<!-- Scrollable modal -->
<div class="modal fade" id="user-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content modal-style">
      <!-- Bouton de fermeture (close button) -->
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer">
        <i class="fa-solid fa-xmark fa-2xl" style="color: #ffffff;"></i>
      </button>
      <div class="modal-body" id="user-modal-body">
        <!-- Contenu de votre modal -->
      </div>
    </div>
  </div>
</div>
