<div class="footer">
  <% if user_signed_in? %>
    <ul>
      <li>
        <%= link_to user_path(current_user), class: "navbar-brand" do %>
          <i class="fa-regular fa-user"></i>
        <% end %>
      </li>

      <li>
        <%= link_to new_topic_path, class: "navbar-brand" do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      </li>
      <li>
        <%= link_to topics_path, class: "navbar-brand" do %>
         <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </li>
       <li>
        <%= link_to chatrooms_path, class: "navbar-brand" do %>
          <i class="fa-regular fa-comments"></i>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>


<!-- Scrollable modal -->
  <div class="modal fade " id="user-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content modal-style">
        <div class="modal-body" id="user-modal-body">
        </div>
      </div>
    </div>
  </div>
