<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.lesnumeriques.com/news/17/179269/c574a41c-anonymous-s-en-prend-aux-entreprises-francaises-qui-refusent-de-quitter-la-russie.jpg);">
    <div class="container">
      <h1>PAMM</strong>!</h1>
      <p class="mt-5">Discover an easy way to debate about what you like anonymously</p>
      <a class="btn btn-primary mt-5" href="#">Get PAMM</a>
    </div>
  </div>
  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
</div>
