.form-check-label {
  color: #ffffff !important;
}

#new_review {
  .form-check-label {
    color: white !important;
  }
}

.gl-star-rating{
  display: flex;
  justify-content: center;
}
.review_red_flag .form-check{
  display: flex;
  justify-content: center;
  gap: 10px;
}
