.modal-style{
  overflow: hidden;
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 15px;
  color: #FFBB5C;
  padding-top: 20px;
}
.modal-color{
  color: #FFBB5C;
}
