.card-topic{
  overflow: hidden;
  height: 120px;
  background: rgb(69, 69, 69);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 5px;
  color: black;
}

.card-topic-info{

}

.card-topic-info-name{

}

.card-topic-info-description{
  margin-top: -10px;
  margin-bottom: -20px;
}

.card-topic-info-expertise{
  margin-top: -10px;
  margin-top: -20px;
}
