.card-topic{
  overflow: hidden;
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 1px solid;
  border-color: white;
  border-radius: 30px;
  margin-bottom: 15px;
  padding: 5px;
}

.card-topic-info{
  padding: 10px
}

.card-topic-info-name{
  text-align: left;
  margin-bottom: 20px;
}

.card-topic-info-description{
  margin-top: -10px;
  margin-bottom: -10px;
  text-align: left;
}

.card-topic-info-expertise{
  margin-top: -10px;
  text-align: left;
}

.topic-avatar{

  margin-right: 10px;
}

.vertical-line{
  border-left: 1px solid;
  border-color: white;
  margin-right: 8px;
}
